<h2>What's open spaces?</h2>
<div>
<p style="font-size: 24px; line-height: 30px;">
Open Spaces is your chance to create your own conference experience!  Open Spaces allows you to post a topic that you want to discuss with others and have others come and join you in the discussion.
</p>
<p style="font-size: 24px; line-height: 30px;">
Feel free to post a topic for discussion, or see what others have posted and join in.  You are free to come and go as you please.  You never know what you will learn!
</p>
</div>
<a href="/">Back to session list</a>