<h1>Edit Session</h1>

<%= render 'form' %>
<% unless Settings.readonly %>
  <%= link_to 'Delete This Session', @session, method: :delete, data: { confirm: 'Are you sure?' }%> |
<% end %>
<%= link_to 'Back', sessions_path %>
